<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div style="float:left">
            <a href="/">Home</a>
        </div>
        <div style="float:right">
            <a href="/users/register">register</a>
            <a href="/users/signin">signin</a>
            <a href="/users/forget">forgot password</a>
        </div>
        <h1>Node Blog</h1>
        <form action="/apis/forget" method="POST">
            使用者名稱: <input type="text" name="user" placeholder="username" /> <br>
            <input type="submit" value="forget" />
        </form>
    </body>
</html>