<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div style="float:left">
            <a href="/">Home</a>
        </div>
        <div style="float:right">
            <a href="users/signout">Signout</a>
            <a href="users/profile">profile</a>
        </div>
        <div>
            <% console.log("/apis/update/"+ articleID) %>
            <form name="modify" action="/apis/update/<%= articleID %>" method="POST">
                <textarea cols="50" rows="25" name="article"> 
                    <%= articles[0].Article %>
                </textarea>
                <input type="submit" value="update" />
            </form>
        </div>
    </body>
</html>